/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    background: url('images/image1.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Styling for header */
header {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for readability */
    color: #ffffff;
    text-align: center;
    padding: 60px 0;
    border-radius: 10px;
    margin-top: 20px;
}

header h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header p {
    font-size: 24px;
    margin: 0;
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* Intro section */
.intro-section {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for readability */
    padding: 60px 20px;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
}

.intro-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color:  #ffffff;
}

.intro-section p {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.6;
}

/* Map styles */
#map {
    border: 2px solid #007bff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for readability */
    border-radius: 10px;
    margin-top: 20px;
}

/* Footer styles */
footer {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background for readability */
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}

/* Login container styles */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.login-container h2 {
    margin-bottom: 20px;
}

#signInForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
}

#signInForm label,
#signInForm input,
#signInForm button {
    margin-bottom: 10px;
}
